/Duck.class
/FlyBehavior.class
/FlyNoWay.class
/FlyRocketPowered.class
/FlyWithWings.class
/MallardDuck.class
/MiniDuckSimulator.class
/ModelDuck.class
/MuteQuack.class
/Quack.class
/QuackBehavior.class
/Squeak.class
/DuckSimulator.class
